@import ~'@{dir}normalize';
@import ~'@{dir}mixins';
@import ~'@{dir}swiper';
@import ~'@{dir}base';



//-------------VARIABLES------------------
@pxd: 144rem;
@pxm: 32rem;

@colorText--dark: #3f3f3f;
@colorOrange: #f15c22;
@colorBlue--dark: #3d358b;
@colorNav: #fff;
@colorBg-grey:#eeedf1;




//------------MAIN-------------------


//------------HEADER------------------

.header {
  padding: 14/@pxd 24/@pxd;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .clear;
  transition: padding 150ms ease-in-out, background-color 150ms ease-in-out;
}

#bars {
  display: none;

}

.logoLink {
  position: relative;
  float: left;
  display: block;
  font-size: 0;
}

.logo {
  width: 183/@pxd;
  height: 52/@pxd;
}

.logo-1 {
  fill:  #fff;
  transition: height 150ms ease-in-out, fill 150ms ease-in-out;
}

.logo-2 {
  position: absolute;
  left: 0;
  top: 0;
}


.mainNav {
  margin-top: 4/@pxd;
  float: right;


  &__item {
    display: inline-block;
    &:not(:first-of-type) {
      margin-left: 42/@pxd;
    }
  }

  &__link {
    font-size: 14/@pxd;
    text-transform: uppercase;
    font-weight: 500;
    color: @colorNav;
    padding-bottom:  9/@pxd;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: border-bottom-color 150ms ease-in-out, color 150ms ease-in-out;


    &:hover {
      border-color: @colorOrange;
    }
  }

}


.onScrool {
  position: fixed;
  background-color: #ffffff;
  //padding: 24/@pxd 36/@pxd;
  box-shadow: 0px 0px 18/@pxd 0px rgba(0, 0, 0, 0.15);
  .logo-1 {
    fill: @colorBlue--dark;


  }

  .mainNav__link {
    color: @colorBlue--dark;
  }

  #logo--onScrool {
    display: none;
    //display: inline-block;
    float: left;
    height: 42/@pxd;
    transition: height 150ms ease-in-out;
  }


}





//-------------BANNER-------------------


.ctaBlock {
  display: none;


}

.sliderImg {
  .image('shadow.png');
  .background-cover;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.sliderArrow {
  width: 45/@pxd;
  height: 45/@pxd;
  fill: #ffffff;
}

.swiper-button-prev {
  left: 10/@pxd;
}

.swiper-button-next {
  right: 10/@pxd;
}

.sliderImg {
  height: 620/@pxd;
  width: 100%;
  .background-cover;

}


//--------------CONTAINER--------------------


.container {
  width: 1310/@pxd;
  margin: 0 auto;
  padding-left: 44/@pxd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//--------------SECTION TRUCK--------------------
.truck {
  padding-top: 52/@pxd;
  padding-bottom: 105/@pxd;

  .image('truckBG.jpg');
  background-position: 29% 90%;
  background-repeat: no-repeat;
  background-size: 108%;

  position: relative;


  &__imgContainer {
    margin-left: -(55 + 20)/@pxd;
    height: 508/@pxd;
    width: 700/@pxd;

  }

  &__img {
    width: 100%;
    height: 100%;
    .background-cover
  }
}

#page {
  width: 100%;
  overflow: hidden;
}

.mainHeading {
  color: @colorBlue--dark;
  font-size: 36/@pxd;
  font-weight: 300;
  text-align: center;
  margin-bottom: 48/@pxd;

  .bold{
    font-weight: 500;
  }
  strong {
    font-weight: 500;
  }

}

.slider1-holder {
  height: 4.31rem;
}

.slider1 {
  height: 4.31rem;
  top: 0;
  width: 100%;
  position: fixed !important;
}

.after-slider {
  z-index: 1;
  background: #fff;
  position: relative;
}


//-----------SECTION GO------------------

.go {
  padding-top: 90/@pxd;
  padding-bottom: 150/@pxd;
  position: relative;
  .image('goBG.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  &__imgContainer {
    height: 592/@pxd;
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__img {
    height: 100%;
    .background-contain;
  }
}

//--------------ARTICLE COMPONENT---------------

.article {
  width: 560/@pxd;

  ul {
    li {
      padding-left: 36/@pxd;
      position: relative;
      font-size: 15/@pxd;
      color: @colorText--dark;
      line-height: 24/15;

      &:before {
        content: '\2022';
        display: block;
        position: absolute;
        left: 16/@pxd;
      }


    }
    //margin-bottom: 42/@pxd;

  }

  &__header {
    margin-bottom: 28/@pxd;
    display: flex;
    align-items: center;

  }

  &__vLine {
    background-color: #b0b0b0;
    width: 1px;
    height: 86/@pxd;
    display: inline-block;
    margin: 0 36/@pxd;
  }

  &__logo {
    width: 156/@pxd;

  }

  &__title {
    display: inline-block;
    font-size: 40/@pxd;
    color: @colorOrange;
    font-weight: 400;
    font-style: italic;
  }

  p {
    font-size: 15/@pxd;
    color: @colorText--dark;
    line-height: 24/15;
    margin: 0 0 28/@pxd 0;
  }

  &__footer {
    font-size: 0;
    display: none;

  }

  &__icons {
    height: 42/@pxd;
    margin-right: 24/@pxd;
    fill: fadeout(@colorBlue--dark, 25%);
    transition: fill 150ms ease-in-out;

    &:hover {
      fill: fadeout(@colorBlue--dark, 0);

    }

  }
}


//-------------FOOTER---------------------

.footer {
  background-color: @colorBlue--dark;
  .image('footer_logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600/@pxd;

  text-align: center;

  > div {
    padding: 80/@pxd 255/@pxd 55/@pxd 255/@pxd;
    display: table-cell;
    width: 100vw;
    height: 540/@pxd;
    vertical-align: middle;
  }
  &__header {
    color: #ffffff;
    font-size: 36/@pxd;
    font-weight: bold;
    margin-bottom: 54/@pxd;
  }

  p {
    color: #ffffff;
    font-size: 15/@pxd;
    line-height: 24/15;
    margin: 0 0 68/@pxd 0;
  }

  .footer__contact {
   display: inline-block;
    line-height: 38/@pxd;
    margin-bottom: 100/@pxd;
    color: #f35b05;
    text-decoration: none;
    position: relative;
    //padding-left: 47/@pxd;
    padding-bottom: 4/@pxd;
    border-bottom: 2/@pxd solid transparent;
    transition: border-bottom-color 150ms ease-in-out;


    &:not(:last-of-type) {
      margin-right: 106/@pxd;
    }

    &:hover {
      border-color: @colorOrange;

    }
  }

  .legal {
    font-size: 12/@pxd;
    color: rgba(255, 255, 255, 0.502);
    margin: 0;

  }
}

#phoneIcon {
  height: 38/@pxd;
  position: absolute;
  top: 50%;
  transform: translate(-125%, -50%);



}

#mailIcon {
  height: 28/@pxd;
  position: absolute;
  top: 50%;
  transform: translate(-125%, -50%);

}

.orentationLanscape {
  display: none;
}

@import ~'@{dir}mobile';


@media only screen and (min-width: 1598px) {

  html {
    font-size: 160px;
  }

  .wrapper {
      width: 1310/@pxd;
      margin: 0 auto;
      padding-left: 44/@pxd;

  }
  .slider1-holder {
    height: 43vw;
  }

  .slider1 {
    height: 43vw;

  }

  .sliderImg {
    height: 43vw;

  }



}

