.size(@w, @h: @w) {
  width: @w;
  height: @h;
}

// CSS3 properties mixins:

.transitionHover(@transition: 150ms all ease-in-out) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
  &:active {
    -webkit-transition: 0ms all ease-in-out;
    -moz-transition: 0ms all ease-in-out;
    -o-transition: 0ms all ease-in-out;
    transition: 0ms all ease-in-out;
  }
}

.transform(@transformation) {
  -webkit-transform: @transformation;
  -moz-transform: @transformation;
  -o-transform: @transformation;
  transform: @transformation;
}

.translate3d(@x: 0, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}

.translate(@x: 0, @y: 0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.selection(@rules) {
  &::-webkit-selection {
    @rules();
  }
  &::-moz-selection {
    @rules();
  }
  &::selection {
    @rules();
  }
}

.user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

.transition(@transition: 150ms all ease-in-out) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

// CUSTOM MIXINS

.image(@file) {
  background-image: ~'url(@{url}img/@{file})';
}

.max(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}

.min(@maxWidth; @rules) {
  @media only screen and (min-width: @maxWidth) {
    @rules();
  }
}

.full() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.sheet(@position: absolute) {
  position: @position;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.background-cover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-contain() {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clear() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abcenter() {
  .translate3d(-50%,-50%,0);
  position: absolute;
  top: 50%;
  left: 50%;
}

.inliner() {
  .clear;
  font-size: 0;
  white-space: nowrap;
}
