

@media only screen and (max-width: 768px) {


  //------------HEADER------------------

  .header {
    padding: 10/@pxm;
  }

 .logo {
    display: inline-block;
    height: 24/@pxm;
    width: 84/@pxm;
  }

  #bars {
    display: block;
    height: 10/@pxm;
    width: 20/@pxm;
    pointer-events: none;
    fill: #ffffff;
    transition: fill 150ms ease-in-out;


  }

  .barsHolder {
    display: inline-block;
    float: right;
    z-index: 999;
    position: relative;
    margin-top: 7/@pxm;

    &::before {
      content: "";
        display: block;
        position: absolute;
      height: 400%;
      width: 200%;
      transform: translate(-30%, -41%);



    }
  }




  .mainNav {
   // transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(61,53,139, 1);
    z-index: 100;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;


    &__block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      margin-top: -15/@pxm;
    }

    &__item {
      display: block;
      text-align: center;
      padding: 15/@pxm 0;
      margin-left: 0!important;
    }

    &__link {
      display: inline-block;
      font-size: 11.95/@pxm;
      letter-spacing: 0.1em;
      width: 100%;

      &:hover {
        border-color: transparent;
      }

    }


  }


  .onScrool {
    z-index: 20;


    .mainNav__link {
      color: #ffffff;
    }

    #bars {
      fill: @colorBlue--dark;
    }



    #logo--onScrool {
      display: inline-block;
      float: left;
      height: 23/@pxm;

    }


  }

  .isActive {
    .mainNav {
      //transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }

    #bars {
      fill: #ffffff;
    }
  }


  //-------------BANNER-------------------


  .slider1-holder {
    height: 486/@pxm;
  }

  .slider1 {
    height: 486/@pxm;
    top: 0;
    width: 100%;
    position: fixed !important;
  }

  .ctaBlock {
    display: block;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 270/@pxm;
    transform: translate(-50%, 0);
    text-align: center;

    .playBtn {
      font-size: 0;
      user-select: none;
      z-index: 2;
      display: inline-block;


    }

    #playIcon {
      fill: #ffffff;
      height: 70/@pxm;
      margin-bottom: 17/@pxm;
      pointer-events: none;

    }

    .ctaText {
      color: #ffffff;
      text-align: center;
      font-size: 10.24/@pxm;
      letter-spacing: 0.1em;
      text-transform: uppercase;

    }

  }
  .sliderImg {
    .image('shadow.png');
    position: relative;


  }

  .mobileBg {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(61,53,139, .4);
    z-index: 1;
  }

  .swiper-pagination-bullet {
    background-color: #ffffff;
    height: 10/@pxm;
    width: 10/@pxm;
  }

  .sliderArrow {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .sliderImg {
    height: 486/@pxm;
    width: 100%;
  }


  //--------------CONTAINER--------------------


  .container {
    width: 280/@pxm;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: column-reverse;

    //justify-content: space-between;
    //align-items: center;


  }


  //--------------SECTION TRUCK--------------------
  .truck {
    position: relative;
    padding-top: 16/@pxm;
    padding-bottom: 150/@pxm;
    .image('mobile-markers.png');
    background-position: 86% -5%;
    background-color: @colorBg-grey;

    &__imgContainer {
      margin-top: 0;
      margin-left: 0;
      height: auto;
      width: 350/@pxm;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__text {
      width: 100%;
    }

    .article__footer {
      transform: translateY(320/@pxm);
    }

  }

  .mainHeading {
    position: absolute;
    top: -350/@pxm;
    color: #ffffff;
    font-size: 30.72/@pxm;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.15;
    z-index: 1;
    width: 100%;
    text-align: center;
    left: 0;


  }


  //-----------SECTION GO------------------

  .go {

    padding-top: 0;
    padding-bottom: 100/@pxm;
    background-position: 0 63%;
    background-size: contain;
    .image('mobile-goBG.png');
    background-color: @colorBg-grey;

    .container {
      flex-direction: column;
    }

    &__imgContainer {
      margin-top: 0;
      margin-left: -81/@pxm;
      height: 344/@pxm;
      top: 0;
      left: 0;
      transform: translateY(0);
      position: relative;
    }

    .article__footer {
      transform: translateY(370/@pxm);
    }


  }

  //--------------ARTICLE COMPONENT---------------

  .article {
    width: 100%;

    &__header {
      margin-bottom: 10/@pxm;

    }

    &__vLine {
      height: 56/@pxm;
      margin: 0 18/@pxm;
    }

    &__logo {
      width: 100/@pxm;

    }

    &__title {
      font-size: 25.6/@pxm;

    }

    p {
      font-size: 11.95/@pxm;
      line-height: 17.92/11.95;
      margin: 0 0 15/@pxm 0;
    }

    ul {
      padding-left: 0;
      li {
        font-size: 11.95/@pxm;
        line-height: 17.92/11.95;
        padding-left: 20/@pxm;
        &:before {

        }


      }
      margin-bottom: 20/@pxm;

    }







    &__footer {
      font-size: 0;

    }

    &__icons {
      height: 36/@pxm;
      margin-right: 20/@pxm;


    }
  }


  //-------------FOOTER---------------------

  .footer {
    background-color: @colorBlue--dark;
    .image('footer_logo.svg');
    background-position: center 21%;
    background-repeat: no-repeat;
    background-size: 284/@pxm;

    padding: 52/@pxm 18/@pxm 18/@pxm 20/@pxm;

    > div {
      padding: 0;
      height: auto;
    }
    &__header {
      font-size: 25.6/@pxm;
      margin-bottom: 24/@pxm;
    }

    p {

      font-size: 11.95/@pxm;
      line-height: 17.92/11.95;
      margin: 0 0 58/@pxm 0;
    }

    .footer__contact {
      font-size: 15.36/@pxm;
      margin-right: 0!important;
      display: block;
      line-height: 24/@pxm;
      padding-bottom: 4/@pxd;
      border-bottom: 2/@pxd solid transparent;
      padding-left: 32/@pxm;

      &:hover {
        border-bottom: 2/@pxd solid transparent;
      }

      &:last-of-type {
        margin-bottom: 50/@pxm;
      }

      &:not(:last-of-type) {
        margin-bottom: 10/@pxm;
      }


    }

    .legal {
      font-size: 10.24/@pxm;
    }
  }

  #phoneIcon {
    height: 24/@pxm;
    position: absolute;
    top: 50%;
    transform: translate(-125%, -50%);



  }

  #mailIcon {
    height: 18/@pxm;
    position: absolute;
    top: 50%;
    transform: translate(-125%, -50%);

  }

}

@media only screen and (max-width: 768px) and (orientation:landscape) {
  .orentationLanscape {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @colorBlue--dark;
    z-index: 99999;
    color: #ffffff;
    text-align: center;
    line-height: 100vh;
    font-size: 10/@pxm;
  }

}